*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,a{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav stage */
nav{
    display: flex;
    justify-content: space-around;
    background: gray;
    padding: 10px;
    align-items: center;
}

nav > ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

nav > ul > li >a,
nav > a{
    color: azure;
    text-decoration: none;
}

/* logo */
#page_logo{
    height: 50px;
    width:  50px;
}

/* main stage */
main{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 10px;
}

/* one sect level */
#one_sect{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    text-align: center;
    gap: 10px;
    min-height: 100px;
    height: auto;
    max-height: 150px;
}

#one_sect > article{
    background-color: #000;
    color: azure;
}

/* two sect level */
#two_sect{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 10px;
    min-height: 100px;
    height: auto;
    max-height: 150px;
}

#two_sect > article{
    background-color: #000;
    color: azure;
}

/* footer stage */
footer{
    display: grid;
    
    grid-template-areas: 
    "div1 div2 div3 div4"
    "div5 div5 div5 div5";

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin-top: 10px;
    gap: 10px;
}

footer > div{
    text-align: center;
    background-color: #000fff;
}

#one_div{
    grid: div1;
}

#two_div{
    grid: div2;
}

#three_div{
    grid: div3;
}

#fourth_div{
    grid: div4;
}

#fifth_div{
    grid: div5;
}